




#sidebar-left,#sidebar-right,#print-this,#add-this,#header,#nav,.links,.meta,#drupal-control-bar,#nav ul.primary-links,#top-menu,#search,#footer,.breadcrumb,#block-morelikethis-googlevideo{display:none;}body.sidebar-right #center{width:820px;border-right:none;}#logo-area{border-bottom:3px solid #000;}#wrapper{border:none;}
